h2 My Heroes

ul.heroes
  li.heroes__item(
    *ngFor="let hero of heroes"
    '(click)'="onSelect(hero)"
    '[attr.data-selected]'="hero === selectedHero"
  )
    span.badge {{hero.id}}
    | {{hero.name}}

app-hero-detail([hero]="selectedHero")
