// TODO: reset.cssかかってないとつらい

.heroes {
  display: flex;
  flex-wrap: wrap;
}

.heroes__item {
  display: block;
  padding: 1em;
  margin: 0.5em;
  background-color: #eee;
  &[data-selected="true"] {
    background-color: #eef;
  }
}

.hero-detail {
  border-top: solid 1px #ccc;
}
